html, body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #333333;
}
body, .contact-input, .contact-textarea  {
    font-family: 'Poppins', sans-serif;
}
.contact-page {
    min-height: 100vh;
    max-width: 900px;
    overflow: hidden;
    margin: 0 auto;
}
.contact-form-section {
    display: flex;
    width: 800px;
    padding: 30px;
    margin: 0 auto;
}

.contact-form-heading {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}
.contact-form-heading span {
    color: #007000;
}
.contact-form-intro {
    font-size: 1.25rem;
    margin-bottom: 20px;
}
.contact-input {
    display: block;
    width: 300px;
    margin: 5px auto 15px;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 1rem;
    border: 2px solid #333333;
}
.contact-textarea {
    max-width: 300px;
    margin: 5px auto 15px;
    padding: 16px 20px;
    border: 2px solid #333333;
    border-radius: 20px;
}
.contact-input::-webkit-input-placeholder, .contact-textarea::-webkit-input-placeholder {
    color: #555555;
}
.contact-submit-button {
    border: 2px solid #333333;
    padding: 8px 20px;
    border-radius: 40px;
    margin: 10px auto 0;
    width: 200px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.contact-submit-button:hover {
    background-color: #dddddd;
}

.rotate {
    transform: rotate(0deg);
    width: 900px;
    position: relative; top: -200; right: -210px;
    padding-right: 40px;   
}

.contact-textarea:focus {
    outline-color: limegreen;
}
.contact-input:focus {
    outline-color: limegreen;
}
.contact-form-heading:focus {
    outline-color: limegreen;
}
.contact-form-intro:focus {
    outline-color: limegreen;
}
/* 
Challenge: Identify all accessibility issues using all your newly aquired knowledge.

Write them down here:
- Text for the placeholders is inaccessible for some individuals. Text contrast issue.
- No alt tag for the image. Screen reader can't identify it properly.
- No labels for the input fields. Screen readers can not interpret.
- The button on this website does not code to communicate with screen readers.
- The html order/structure is not formatted correctly. Starts with h2 instead of h1.
- A <div> in the code has an id of "main" but there is no main tag.
- The font sizes are defined in pixels and not rem. Browswers are unable to scale properly.
*/